header{
	background-color: lightgray;
	padding: 20px 0;
}

.position{
	width: 940px;   /*debido a que la mayoría de pantallas tiene 1280px y 940 es aproximadamente el 70% del ancho de la pantalla*/
	position: relative; /*por defecto la posición está en estática entonces se cambia el posicionamiento a relative par poder moverlo*/
	margin: 0 auto; /*el 0 inicial significa parte superior e inferior y el auto se refiere a los lados*/
}

nav{
	position: absolute;
	top: 112px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{        /*se usa una pseudo clase llamada hover para capturar el movimiento del ratón cuando se pasa sobre algún elemento gráfico de la pagina*/
	color: darkred;
	text-decoration: underline;
}

h1{
	font-size: 20px;
	font-weight: bold;
}

body{
	background: darkgrey
}

.icons{
	width: 940px;
	margin: 0 auto;
	padding: 50px;
}

.icons li{ /*para referirse específicamente a los items de la lista que pertenezca a esa clase*/
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top; /*para hacer que los elementos se alineen con la parte superior*/
	background: lightgray;
	margin: 0 1.5%; /* margin es espacio externo*/
	padding: 30px 20px; /*padding es espacio interno el primer valores es vertical y el segundo en horizontal*/
	box-sizing: border-box; /*el borde de los items es el limite del espacio interno definido y se reparte el espacio según los estilos*/
	border: 2px solid black; /*La primer instrucción se refiere al ancho del borde la segunda el estilo y la tercera el color */
	border-radius: 10px; /*se usa para redondear la punta de los bordes, se usan todos al tiempo o cada uno por separado teniendo en cuenta que empiezan arriba-izq y avanzan en sentido horario*/
}

.icons li:hover{    /*Puedo incluir todos los efectos que quiero que ocurran cuando el ratón pase sobre el elemento */
	border-color: darkred;
	border-width: 4px;
}

.icons li:hover h2{     /*Debido a que hay un estilo marcado para los h2 dentro de los items hay que hacer un selector diferente para que la prioridad del uno no afecte al otro */
	font-size: 35px;
}

.icons li:active{
	border-color: darkblue;
	
}

.icons h2{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}

.descript{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

.decryp{
	font-size: 18px;
	margin-top: 10px;
}

footer{
	text-align: center;
	background: url("images/background.jpg");  /*Se puede insertar una imagen en css usando la instrucción URL, por ser dentro de la etiqueta background repite la imagen hasta llenar el tamaño del elemento*/
	padding: 20px;
}

footer img{
	padding: 20px;
}

.resume{
	font-size: 13px; /* el tamaño por defecto es de 16px*/
	margin-top: 10px;
}